// font family
$main-font-family: 'Rubik',
sans-serif;

// font sizes
$body: 1.6rem;
$html: 10px;

// text colors
$availability-text: hsl(276, 100%, 81%);
$walker-text: hsl(276, 55%, 52%);
$customer-text: hsl(271, 15%, 43%);
$placeholder-text: hsl(206, 6%, 79%);
$main-heading-text: hsl(271, 36%, 24%);
$paragraph-text: hsl(270, 7%, 64%);
$walker-background: hsl(276, 41%, 93%);


// gradient colors
$light-magenta: hsl(293, 100%, 63%);
$light-violet: hsl(264, 100%, 61%);

// secondary colors
$white: hsl(0, 0%, 100%);
$app-background: hsl(270, 20%, 96%);
$submit-button-background: hsl(271, 36%, 24%);
$radio-button-outline: hsl(289, 100%, 72%);